$font-family-sans-serif: 'Open Sans', sans-serif;
$grid-gutter-width: 30px;
$container-large-desktop: (920px + $grid-gutter-width);
$navbar-border-radius: 0px;
$font-size-base: 16px;
$headings-font-weight: 700;
